@model IEnumerable<InternetShop.Data.Models.Product>

@{
    ViewData["Title"] = "SlayTea Shop";
}
<head>
    <link href="~/css/home.css rel="stylesheet">
</head>
<div class="text-center">
    <h1 class="display-4">SlayTea</h1>
    <p><i>Delight your love ones with the tastiest tea!</i></p>

    <div class="pic-ctn">
        <img src="https://i.pinimg.com/564x/77/37/bf/7737bf36c5758b7689de4ec887ff59b8.jpg" alt="" class="pic" width="300" height="400">
        <img src="https://i.pinimg.com/564x/a4/21/f3/a421f39cb42282ef74281235465cd4af.jpg" alt="" class="pic" width="300" height="400">
        <img src="https://i.pinimg.com/564x/01/9b/80/019b80cd45b6e1417f7ab2718456deeb.jpg" alt="" class="pic" width="300" height="400">
        <img src="https://i.pinimg.com/564x/d9/ed/64/d9ed64156dedbfaf5095403cdacde9c5.jpg" alt="" class="pic" width="300" height="400">
        <img src="https://i.pinimg.com/564x/52/23/14/522314a861a62c03b9c0b1f21d25cdbe.jpg" alt="" class="pic" width="300" height="400">
    </div>
</div>

<div class="products">
    <h2>Product</h2>
    <h3>Choose your tea</h3>
    <div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-2">
            <div class="card">
                <img src="img/@item.Id.ToString()+.jpg" alt="Card image cap" style="border-radius:50%; max-height:250px;">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Price) ₴</h6>
                    <p class="card-text">
                            Available: @Html.DisplayFor(modelItem => item.UnitInStock) box<br>
                            Made by: @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                    </p>
                </div>
            </div>
        </div>
    }
    </div>
</div>



